{%- for record in records.entries -%}
  {%- if page.fileSlug == record.key -%}
    {% assign redirect_url = record.links[0].url %}
  {%- endif -%}
{%- endfor -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Redirecting …</title>
    <link rel="canonical" href="{{ redirect_url }}">
    <meta http-equiv="refresh" content="0; url={{ redirect_url }}">
    <style>
    body {
      max-width: 800px;
      margin: 100px auto;
      font-size: large;
      font-family: Consolas, monospace;
      color: #222;
    }
    a {
      color: hsl(227, 100%, 40%);
    }
    </style>
  </head>
  <body>
    <h1>Redirecting to …</h1>
    <p><a href="{{ redirect_url }}">{{ redirect_url }}/</a></p>
    <p style="position: absolute; right: 100px; bottom: 50px;">ᕕ[ ᐛ ]ᕗ</p>
    <script>location='{{ redirect_url }}';</script>
  </body>
</html>
